<div class="menu-section" [ngClass]="{'menu-projects': showPlusIcon()}">
    <div class="title-section sidebar-hover">
        <span class="menu-title">{{menuSectionInfo().title}}</span>
        <div>
            @if (showPlusIcon()) {
            <ng-container [ngTemplateOutlet]="plusIcon"></ng-container>
            }
            <svg class="ico" width="20px" height="20px" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <path
                        d="M5.70711 9.71069C5.31658 10.1012 5.31658 10.7344 5.70711 11.1249L10.5993 16.0123C11.3805 16.7927 12.6463 16.7924 13.4271 16.0117L18.3174 11.1213C18.708 10.7308 18.708 10.0976 18.3174 9.70708C17.9269 9.31655 17.2937 9.31655 16.9032 9.70708L12.7176 13.8927C12.3271 14.2833 11.6939 14.2832 11.3034 13.8927L7.12132 9.71069C6.7308 9.32016 6.09763 9.32016 5.70711 9.71069Z"
                        fill="#5559"></path>
                </g>
            </svg>
        </div>
    </div>
    <ul>
        @for (item of menuSectionInfo().items; track $index) {
        <li class="sidebar-hover" tabindex="0" (keydown.enter)="onMenuItemClick(item)" (click)="onMenuItemClick(item)">
            <div class="project-start">
                @switch (item.icon){
                @case ('project') {
                <ng-container [ngTemplateOutlet]="projectIcon"
                    [ngTemplateOutletContext]="{ id: item.id }"></ng-container>
                }
                @case ('today') {
                <ng-container [ngTemplateOutlet]="todayIcon"></ng-container>
                }
                @case ('upcoming') {
                <ng-container [ngTemplateOutlet]="upcomingIcon"></ng-container>
                }
                }
                <span>{{item.name}}</span>
            </div>
            <div class="project-actions">
                <span class="pending-tasks">{{item.pendingTasks}}</span>
                @if (item.icon === 'project') {
                <div class="project-menu-wrapper">
                    <div class="project-menu-trigger" tabindex="0" (keydown.enter)="toggleProjectMenu(item.id, $event)" (click)="toggleProjectMenu(item.id, $event)">
                        <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path
                                    d="M14 12C14 13.1046 13.1046 14 12 14C10.8954 14 10 13.1046 10 12C10 10.8954 10.8954 10 12 10C13.1046 10 14 10.8954 14 12Z"
                                    stroke="#000000" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                                <path
                                    d="M21 12C21 13.1046 20.1046 14 19 14C17.8954 14 17 13.1046 17 12C17 10.8954 17.8954 10 19 10C20.1046 10 21 10.8954 21 12Z"
                                    stroke="#000000" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                                <path
                                    d="M7 12C7 13.1046 6.10457 14 5 14C3.89543 14 3 13.1046 3 12C3 10.8954 3.89543 10 5 10C6.10457 10 7 10.8954 7 12Z"
                                    stroke="#000000" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                            </g>
                        </svg>
                    </div>
                    @if (openMenuProjectId() === item.id) {
                    <div class="project-menu-backdrop" tabindex="0" (keydown.enter)="closeMenu($event)" (click)="closeMenu($event)"></div>
                    <div class="project-menu-dropdown">
                        <button type="button" class="project-menu-item"
                            (click)="onFavoriteClick(item.id, $event)">
                            <span class="project-menu-icon">
                                @if (item.favorite) {
                                <svg width="18px" height="18px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <path d="M12 2L15.09 8.26L22 9.27L17 14.14L18.18 21.02L12 17.77L5.82 21.02L7 14.14L2 9.27L8.91 8.26L12 2Z"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <line x1="3" y1="21" x2="21" y2="3"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"></line>
                                    </g>
                                </svg>
                                } @else {
                                <svg width="18px" height="18px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <path d="M12 2L15.09 8.26L22 9.27L17 14.14L18.18 21.02L12 17.77L5.82 21.02L7 14.14L2 9.27L8.91 8.26L12 2Z"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </g>
                                </svg>
                                }
                            </span>
                            <span>{{ item.favorite ? 'Remove from Favorites' : 'Add to Favorites' }}</span>
                        </button>
                        <button type="button" class="project-menu-item"
                            (click)="onEditClick(item.id, $event)">
                            <span class="project-menu-icon">
                                <svg width="18px" height="18px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <path d="M11 4H4a2 2 0 00-2 2v14a2 2 0 002 2h14a2 2 0 002-2v-7"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M18.5 2.5a2.121 2.121 0 013 3L12 15l-4 1 1-4 9.5-9.5z"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </g>
                                </svg>
                            </span>
                            <span>Edit project</span>
                        </button>
                        <button type="button" class="project-menu-item project-menu-item--danger"
                            (click)="onDeleteClick(item.id, $event)">
                            <span class="project-menu-icon">
                                <svg width="18px" height="18px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <path d="M3 6H5H21" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M8 6V4C8 3.46957 8.21071 2.96086 8.58579 2.58579C8.96086 2.21071 9.46957 2 10 2H14C14.5304 2 15.0391 2.21071 15.4142 2.58579C15.7893 2.96086 16 3.46957 16 4V6M19 6V20C19 20.5304 18.7893 21.0391 18.4142 21.4142C18.0391 21.7893 17.5304 22 17 22H7C6.46957 22 5.96086 21.7893 5.58579 21.4142C5.21071 21.0391 5 20.5304 5 20V6H19Z"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M10 11V17" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M14 11V17" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </g>
                                </svg>
                            </span>
                            <span>Delete project</span>
                        </button>
                    </div>
                    }
                </div>
                }
            </div>
        </li>
        }
    </ul>
</div>

<ng-template #todayIcon>
    <svg width="24px" height="24px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" fill="none">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
            <path stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                d="M16.5 18.401c0-2.901 4-2.401 4-.401 0 2.5-4 2.434-4 5h4M11.5 16.5H13V23"></path>
            <path stroke="#000000" stroke-linejoin="round" stroke-width="2"
                d="M5 8a2 2 0 012-2h18a2 2 0 012 2v18a2 2 0 01-2 2H7a2 2 0 01-2-2V8z"></path>
            <path stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M5 12h22M21 8V4M11 8V4"></path>
        </g>
    </svg>
</ng-template>

<ng-template #upcomingIcon>
    <svg width="24px" height="24px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" fill="none">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
            <path stroke="#000000" stroke-linejoin="round" stroke-width="2"
                d="M5 8a2 2 0 012-2h18a2 2 0 012 2v18a2 2 0 01-2 2H7a2 2 0 01-2-2V8z"></path>
            <path stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M5 12h22M21 8V4M11 8V4"></path>
            <circle cx="11.5" cy="19.5" r="1.5" fill="#000000"></circle>
            <path fill="#000000" d="M17.5 19.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z"></path>
            <circle cx="20.5" cy="19.5" r="1.5" fill="#000000"></circle>
        </g>
    </svg>
</ng-template>

<ng-template #projectIcon let-id="id">
    <svg width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none"
        [attr.stroke]="getProjectColor(id)" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
        <path d="M5 9H20" />
        <path d="M4 15H19" />
        <path d="M17.52 3L12.69 21" />
        <path d="M6.48 21L11.31 3" />
    </svg>
</ng-template>

<ng-template #plusIcon>
    <svg class="ico" width="18px" height="18px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
        tabindex="0" (keydown.enter)="onPlusIconClick()" (click)="onPlusIconClick()">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
            <path d="M4 12H20M12 4V20" stroke="#5559" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round">
            </path>
        </g>
    </svg>
</ng-template>

