<main class="main">
  <div class="content">
    <aside class="sidebar-container">
      <app-sidebar
        [sidebarVisibleInput]="visibleSidebar()"
        [navMenuSectionInfo]="navMenuSectionInfo()"
        [favoriteMenuSectionInfo]="favoriteMenuSectionInfo()"
        [projectsMenuSectionInfo]="projectsMenuSectionInfo()"
        (sidebarClose)="toggleSidebar($event)"
        (menuItemClick)="onSidebarMenuItemClick($event)"
        (favoriteClick)="onSidebarFavoriteClick($event)"
        (editClick)="onSidebarEditClick($event)"
        (deleteClick)="onSidebarDeleteClick($event)"
        (createProjectClick)="openCreateProjectModal()"
      />
    </aside>
    <section class="view-section">
      @if (rightPanelView() === 'today') {
      <app-today [showIcon]="visibleSidebar()" (showIconChange)="toggleSidebar($event)"></app-today>
      } @else if (rightPanelView() === 'upcoming') {
      <app-upcoming [showIcon]="visibleSidebar()" (showIconChange)="toggleSidebar($event)"></app-upcoming>
      } @else {
      <app-project-view [showIcon]="visibleSidebar()" (showIconChange)="toggleSidebar($event)"></app-project-view>
      }
    </section>
  </div>
</main>