.project-section-container {
    display: flex;

    & .project-section {
        padding-inline: 15px;
        padding-block: 10px;
        width: 250px;

        & .section-header {
            margin-inline: 1rem;
            margin-block: 1.5rem;
        }

        & .tasks-container {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
        }
    }
}