<div class="breadcrumb">
  <div class="breadcrumb-left-section">
    <div class="breadcrumb-toggle-ico" [ngClass]="{'invisible': invisible()}">
      <svg width="20px" height="20px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#000"
        stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
        <rect x="1" y="1" width="14" height="14" rx="2" ry="2" />
        <line x1="5" y1="1" x2="5" y2="15" />
      </svg>
    </div>
    <a href="#" class="breadcrumb-link-name breadcrumb-hover">
      <span class="breadcrumb-name">My Projects</span>
    </a>
    <span class="breadcrumb-slash">/</span>
    <div>
      <span class="breadcrumb-route">{{route()}}</span>
    </div>
  </div>
  <div class="breadcrumb-right-section">
    <div class="breadcrumb-hover breadcrumb-ico">
      <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
          <path
            d="M14 12C14 13.1046 13.1046 14 12 14C10.8954 14 10 13.1046 10 12C10 10.8954 10.8954 10 12 10C13.1046 10 14 10.8954 14 12Z"
            stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          <path
            d="M21 12C21 13.1046 20.1046 14 19 14C17.8954 14 17 13.1046 17 12C17 10.8954 17.8954 10 19 10C20.1046 10 21 10.8954 21 12Z"
            stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          <path
            d="M7 12C7 13.1046 6.10457 14 5 14C3.89543 14 3 13.1046 3 12C3 10.8954 3.89543 10 5 10C6.10457 10 7 10.8954 7 12Z"
            stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        </g>
      </svg>
    </div>

  </div>
</div>
