.menu-section {
    padding: 10px 0;

    & .title-section {
        padding-block: 5px;
        padding-inline: 3px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & .ico {
            visibility: hidden;
            opacity: 0;
            padding: 3px;
            margin-left: 5px;
            border-radius: 5px;
        }

        &:hover {
            & .ico {
                visibility: visible;
                opacity: 1;
            }
        }

        & .ico:hover {
            background-color: #dadada;
        }

        & .menu-title {
            font-size: 14px;
            font-weight: 600;
            color: #666;
        }
    }

    & ul {
        display: block;
        margin-left: 5px;

        & li {
            display: flex;
            align-items: center;
            padding: 5px;
            padding-block: 6px;
            justify-content: space-between;
            font-size: 14px;
            line-height: 16px;

            & .project-start {
                display: flex;
                align-items: center;
                gap: 10px;
            }

            & .pending-tasks {
                color: #5559;
                font-size: 13px;
            }
        }
    }
}

.sidebar-hover:hover {
    background-color: #eaeaea;
    border-radius: 8px;
    cursor: pointer;
}