<div class="menu-section" [ngClass]="{'menu-projects': showPlusIcon()}">
    <div class="title-section sidebar-hover">
        <span class="menu-title">{{menuSectionInfo().title}}</span>
        <div>
            @if (showPlusIcon()) {
            <ng-container [ngTemplateOutlet]="plusIcon"></ng-container>
            }
            <svg class="ico" width="20px" height="20px" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <path
                        d="M5.70711 9.71069C5.31658 10.1012 5.31658 10.7344 5.70711 11.1249L10.5993 16.0123C11.3805 16.7927 12.6463 16.7924 13.4271 16.0117L18.3174 11.1213C18.708 10.7308 18.708 10.0976 18.3174 9.70708C17.9269 9.31655 17.2937 9.31655 16.9032 9.70708L12.7176 13.8927C12.3271 14.2833 11.6939 14.2832 11.3034 13.8927L7.12132 9.71069C6.7308 9.32016 6.09763 9.32016 5.70711 9.71069Z"
                        fill="#5559"></path>
                </g>
            </svg>
        </div>
    </div>
    <ul>
        @for (item of menuSectionInfo().items; track $index) {
        <li class="sidebar-hover">
            <div class="project-start">
                @switch (item.icon){
                @case ('project') {
                <ng-container [ngTemplateOutlet]="projectIcon"
                    [ngTemplateOutletContext]="{ index: $index }"></ng-container>
                }
                @case ('today') {
                <ng-container [ngTemplateOutlet]="todayIcon"></ng-container>
                }
                @case ('upcoming') {
                <ng-container [ngTemplateOutlet]="upcomingIcon"></ng-container>
                }
                }
                <span>{{item.name}}</span>
            </div>
            <div class="project-actions">
                @if (item.icon === 'project') {
                <button class="favorite-btn" [class.active]="item.favorite" (click)="toggleFavorite(item.id, $event)" type="button">
                    <svg width="16" height="16" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z" />
                    </svg>
                </button>
                }
                <span class="pending-tasks">{{item.pendingTasks}}</span>
            </div>
        </li>
        }
    </ul>
</div>



<ng-template #todayIcon>
    <svg width="24px" height="24px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" fill="none">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
            <path stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                d="M16.5 18.401c0-2.901 4-2.401 4-.401 0 2.5-4 2.434-4 5h4M11.5 16.5H13V23"></path>
            <path stroke="#000000" stroke-linejoin="round" stroke-width="2"
                d="M5 8a2 2 0 012-2h18a2 2 0 012 2v18a2 2 0 01-2 2H7a2 2 0 01-2-2V8z"></path>
            <path stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M5 12h22M21 8V4M11 8V4"></path>
        </g>
    </svg>
</ng-template>

<ng-template #upcomingIcon>
    <svg width="24px" height="24px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" fill="none">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
            <path stroke="#000000" stroke-linejoin="round" stroke-width="2"
                d="M5 8a2 2 0 012-2h18a2 2 0 012 2v18a2 2 0 01-2 2H7a2 2 0 01-2-2V8z"></path>
            <path stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M5 12h22M21 8V4M11 8V4"></path>
            <circle cx="11.5" cy="19.5" r="1.5" fill="#000000"></circle>
            <path fill="#000000" d="M17.5 19.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z"></path>
            <circle cx="20.5" cy="19.5" r="1.5" fill="#000000"></circle>
        </g>
    </svg>
</ng-template>


<ng-template #projectIcon let-i="index">
    <svg width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none"
        [attr.stroke]="projectIconColors().at(i) ?? '#222'" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
        <path d="M5 9H20" />
        <path d="M4 15H19" />
        <path d="M17.52 3L12.69 21" />
        <path d="M6.48 21L11.31 3" />
    </svg>
</ng-template>

<ng-template #plusIcon >
    <svg class="ico" width="18px" height="18px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" (click)="openModal('create-project', 'Create project')">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
            <path d="M4 12H20M12 4V20" stroke="#5559" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            </path>
        </g>
    </svg>
</ng-template>
