.task-container {
    display: flex;
    align-items: center;
    padding-block: 10px;
    padding-inline: 25px;
    border: 1px solid #222a;
    border-radius: 10px;
    font-size: 0.9em;

    &:hover {
        box-shadow: 0px 1px 5px 0px #0006;
        transition: box-shadow 0.2s;
    }

    & .completed-button-container {
        margin-right: 5px;

        & .completed-button-label {
            display: flex;
            align-items: center;
            cursor: pointer;

            & .completed-button {
                display: none;
            }

            

            & .radio-mark {
                width: 14px;
                height: 14px;
                border-radius: 50%;
                border: 1px solid #555;
                position: relative;
            }

            /* This block allows to custom the point inside the radio button */
            /* & .completed-button:checked + .radio-mark::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 12px;
                height: 12px;
                background: #555;
                border-radius: 50%;
                transform: translate(-50%, -50%);
            } */

        }
    }

    & .task-name-container {
        &.completed {
            text-decoration: line-through;
        }
    }
}