:host {
    /* In case we need variables */
}

.project-section {
    margin-inline: 20px;
    padding: 5px;

    & .project-header {
        font-size: 1.5em;
        font-weight: bolder;
        padding: 5px;
        margin-block: 15px;
    }

    & .project-main-container {
        display: flex;
    }
}