:host {
    /* In case we need variables */
}

.project-view-section {
    margin-inline: 20px;
    padding: 5px;

    & .project-view-header {
        font-size: 1.5em;
        font-weight: bolder;
        padding: 5px;
        margin-block: 15px;
    }
}