:host {
    --icon-size: 22px;

}

.main-container {
    padding-inline: 15px;
    padding-top: 10px;
    width: 250px;

    & .content {
        display: flex;
        align-items: center;
        margin-block: 10px;

        & .icon-container {
            margin-right: 5px;
            height: var(--icon-size);

            & .icon {
                height: var(--icon-size);
                aspect-ratio: 1 / 1;
            }
        }

    }

}