:host {
    --icon-size: 22px;

}

.main-container {
    padding-inline: 15px;
    padding-top: 10px;
    width: 250px;

    & .content {
        display: flex;
        align-items: center;
        padding-block: 10px;

        &:hover {
            background-color: #ddd;
            border-radius: 5px;
            font-weight: bold;
            cursor: pointer;

            & .icon {
                filter: 
    drop-shadow(0.5px 0 black)
    drop-shadow(-0.5px 0 black)
    drop-shadow(0 0.5px black)
    drop-shadow(0 -0.5px black);
            }
        }

        & .icon-container {
            margin-right: 5px;
            height: var(--icon-size);

            & .icon {
                height: var(--icon-size);
                aspect-ratio: 1 / 1;
            }
        }

    }

}