:host {
    --icon-size: 22px;
    --main-color: #444;
    
    /* Form styles */
    --input-font-size: 1.1em;
    --input-x-padding: 10px;
    /* The 2px are from the font size */
    --input-width: calc(250px - calc(var(--input-x-padding) * 2) - 2px);
}

.main-container {
    padding-inline: 15px;
    padding-top: 10px;
    width: 250px;


    & .new-section-container {
        display: flex;
        flex-direction: column;
        row-gap: 5px;

        & .form-container {
            
            & .section-input {
                width: var(--input-width);
                font-size: var(--input-font-size);
                border-radius: 5px;
                border: 1px solid #4444;
                padding: 5px 10px;
            }
        }

        & .form-actions-container {
            display: flex;
            column-gap: 10px;
            & button {
                font-size: var(--action-button-font-size);
            }
        }
    }



    /* Here is where the other view (Add button) starts */
    & .add-section-button-container {
        display: flex;
        align-items: center;
        padding-block: 10px;
        color: var(--main-color);

        &:hover {
            background-color: #eee;
            border-radius: 5px;
            cursor: pointer;
            color: #000;

            & path {
                fill: #000 !important;
            }
        }

        & .icon-container {
            margin-right: 5px;
            height: var(--icon-size);

            & .icon {
                height: var(--icon-size);
                aspect-ratio: 1 / 1;

                & path {
                    fill: var(--main-color);
                }
            }
        }

    }

}