.title {
    font-size: large;

    line-clamp: 1;
    overflow-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    user-select: none;
    line-height: 1.3;

    &.bold-title {
        font-weight: bold;
    }

}