.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #fcfaf8;
  height: 100%;
  width: 100%;
  min-width: 30vh;

  & .test {
    padding-block: 5px;
    padding-inline: 10px;
    height: 100%;

    & .top-section {
      display: flex;
      align-items: center;
      justify-content: space-between;

      & .sidebar-profile {
        display: flex;
        align-items: center;
        padding: 10px 0;

        & .profile-dropdown {
          position: relative;
          display: flex;
          align-items: center;
          padding: 5px;

          &.open {
            background-color: #eaeaea;
            border-radius: 8px;
          }

          &.open .dropdown-content {
            display: block;
          }

          & .profile-avatar {
            height: 30px;
            margin-right: 10px;
            border-radius: 50%;
          }

          & .profile-name {
            font-weight: bold;
            margin-right: 5px;
          }

          & .dropdown-content {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: #f1f1f1;
            min-width: 120px;
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
            z-index: 1;
            border-radius: 4px;
            overflow: hidden;

            & a {
              color: black;
              padding: 12px 16px;
              text-decoration: none;
              display: block;

              &:hover {
                background-color: #ddd;
              }
            }
          }
        }
      }

      & .notification-toggleview {
        display: flex;
        flex-direction: row;
        gap: 5px;
        /* width: 25%; */

        & .icon-nt {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 5px;
        }
      }
    }
  }
}

.sidebar-hover:hover {
  background-color: #eaeaea;
  border-radius: 8px;
  cursor: pointer;
}
