@if (modalType()) {
<div class="modal-backdrop" tabindex="0" (keydown.enter)="close()" (click)="close()">
  <div class="modal-container" tabindex="0" (keydown.enter)="$event.stopPropagation()" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <span class="modal-title">{{ modalTitle() }}</span>
      <button class="modal-close" (click)="close()">✕</button>
    </div>
    <hr>
    @switch (modalType()) {
    @case ('configuration') {
    <app-configuration-modal />
    }
    @case ('profile') {
    <app-profile-modal />
    }
    @case ('create-project') {
    <app-create-project-modal (closeModal)="close()" />
    }
    }
  </div>
</div>
}
